* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(31, 31, 45);
  color: rgb(31, 200, 200);

  display: flex;
  height: 100vh;

  justify-content: center;
  align-items: center;

  gap: 2em;
}

.inputDecimal {
  background: rgb(31, 200, 200);

  border-radius: 5px;
  
  height: 45px;
  width: 180px;
  display: flex;
  
  border: rgb(31, 200, 200) solid 1px;
  padding-left: 10px;
  outline: none;
}
.inputDecimal:focus {
  border: rgb(0, 100, 100) solid 2px;
}

#binary {
  background: rgb(31, 200, 200);
  color: black;

  border-radius: 5px;
  
  height: 45px;
  width: 180px;
  display: flex;

  align-items: center;
  
  border: rgb(31, 200, 200) solid 1px;
  padding-left: 10px;
}

#arrow {
  font-size: 2em;
  transform: translateY(10px);
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}